---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import EmailSubscribe from "../components/EmailSubscribe.astro";
import { SITE_TITLE, SITE_DESCRIPTION, type Pic, mapAsset } from "../consts";
import { sanityClient } from 'sanity:client';
import SanityImage from "../components/SanityImage.astro";
import Carousel from "../components/Carousel.astro";
import CardBox from "../components/CardBox.astro";

const pics : Pic[]  = await sanityClient.fetch(`
		*[_type == "pic"]{
      ...,
      "imageUrl": pic.asset->url
    }
	`);

type PicMap = {
  bio_roger_1: Pic
};

const picMap = mapAsset(pics) as PicMap;


---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="container">
    <Header title={SITE_TITLE} />
    <main>
      <section>
        <h1 class="centered">LET'S GET READY TO RUMBLE!</h1>
        <p>
          Maximize earnings on game development projects and titles, with expertise 
          spanning your entire effort: niche selection, marketing, asset acquisition 
          and licensing, dev team building, publicity engagements, and more.
        </p>

        <!-- Card 1 -->
        <div>
          <div class="card-simple reverse">
            <!-- <div class="height-1 flex-2 photo" style={`background-image: url(${bio})`}></div> -->
            <div class="flex-3 round">
              <img src={picMap.bio_roger_1.imageUrl} />
            </div>            
            <div class="flex-3">
              <hgroup>
                <h1>Roger Arias</h1>
                <h2>Interactive entertainment consultant</h2>
              </hgroup>
              <blockquote>
                Success in the Interactive Entertainment Industry is a synergy of market awareness, iterative product improvement, and integrated team disciplines.   
              </blockquote>
            </div>
          </div>
        </div>
      </section>

      <Carousel />
      <br />
      <br />

      <CardBox />
      
    </main>
    <Footer />
  </body>
</html>

