---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, type Pic, mapAsset } from "../consts";
import { sanityClient } from 'sanity:client';


const pics : Pic[]  = await sanityClient.fetch(`
		*[_type == "pic"]{
      ...,
      "imageUrl": pic.asset->url
    }
	`);

type PicMap = {anima_mundi: Pic, primal_love: Pic, goiteia_vow: Pic};

const picMap = mapAsset(pics) as PicMap;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="container">
    <Header title={SITE_TITLE} />
    <main>
      <section>
        <h1>Explore the Untold Reality, Within</h1>
        <p>
          Much that is to be learned, comes only through a direct encounter
          with the unknown.  There are three core "journeys" you are invited to enter. That is,
          a path to follow.  If you feel called, then commit to that first step: 
        </p>
        <ul>
          <li>The Sovereignty Gateway</li>
          <li>The Primal Love Workshop</li>
          <li>The Goiteia Vow</li>
        </ul>
        <p> 
          Each of these is for the Self, in itself, a right of passage.  Learn more about...
        </p>
      </section>      
      <h1>Three Sacred Journeys...</h1>
      <div class="dinkus">
        <!-- Card 1 -->
        <div class="card toggle hug-up">
          <!-- <div class="photo" style={`background-image: url(${senex})`}></div> -->
          <div class="flex-2">
            <img src={picMap.anima_mundi.imageUrl} />
          </div>

          <div class="flex-3">
            <hgroup>
              <h1>The Sovereignty Gateway</h1>
              <h2>Awaken. Rise as leader of Self.</h2>
            </hgroup>
            <p>
              There is no free will without the true Self. In this sacred retreat, find the source of
              your power.  Encounter your purpose as a generative being.  Learn to become co-creator with divine consciousness 
              in pursuit of your destiny and the well-being of the community.
            </p>
            <p>This all-day event is scheduled from a waiting list, or from online
              invitations.
            </p>

          </div>
        </div>

        <!-- Card 2 -->
        <div class="card toggle">
			    <!-- <div class="photo" style={`background-image: url(${primal})`}></div> -->
          <div class="flex-2">
            <img src={picMap.primal_love.imageUrl} />
          </div>

          <div class="flex-3">
            <hgroup>
              <h1>Primal Love Gateway</h1>
              <h2>The 3rd age of love now dawns.</h2>
            </hgroup>
            <p>From the ashes of modernity and its failed relationships, comes the 
              "phoenix" rebirth of a renewed and profound love in the Aquarian age.  
              Discover and radiate the full power of your passion, in a committed, 
              powerful relationship with your soul-mate.
            </p>
            <p>This all-day event is scheduled from a waiting list, or from online
              invitations. It requires first attending the "Sovereignty Gateway".
            </p>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="card toggle">
          <!-- <div class="photo" style={`background-image: url(${vow})`}></div> -->
          <div class="flex-2" >
            <img src={picMap.goiteia_vow.imageUrl} />
          </div>
          <div class="flex-3">
            <hgroup>
              <h1>The Goiteia Vow</h1>
              <h2>A marriage of passion and loyalty</h2>
            </hgroup>
            <p>Drawing from the strength of Sovereignty,
              and a commitment to forever love and passion, 
              this sacred portal integrates the masculine
              and femine archetypes into a firey union.
            </p>
            <p>This "marriage" between soul-mates is woven
              in the context of a man's chivalry honoring 
              the fullness of the divine feminine.  A powerful
              awakening for the women attending, and a seal of
              of a man's strength and honor.
            </p>
            <p>This all day event in nature, requires first
              attending the Primal Love Workshop.
            </p>
          </div>
        </div>    

      </div>

    </main>
    <Footer />
  </body>
</html>
