---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, type Card } from "../consts";
import { sanityClient } from 'sanity:client';
import { Image } from 'astro:assets';

const cards : Card[]  = await sanityClient.fetch(`
		*[_type == "carousel" && group == "Philosophy"] | order(sequence asc)
    {
      ...,
      "imageUrl": pic.asset->url
    }
	`);
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="container">
    <Header title={SITE_TITLE} />
    <main>
      <section>
      <h1>My Philosophy</h1>
      {
        cards.map((card, index:number) => (
        <div class="card-simple toggle hug-up">
          <div class="flex-2">
            <Image height={400} width={415} alt={card.title} src={card.imageUrl} />
          </div>

          <div class="flex-3">
            <h1>{card.title}</h1>
            <p>
              {card.description}
            </p>
          </div>
        </div>
        ))
      }
      </section>
    </main>
    <Footer />
  </body>
</html>
